mixin anchorLink(name="anchorDefault")
  a(class="anchor", id=name) anchor #{name}
  
mixin inpageLinkItem(href="anchorDefault", label="defaultLabel")
  li
    a(href=href) #{label}
  
mixin sectionHead(name="defaultName", title="defaultTitle")
  +anchorLink(name)
  div(class="section-head")
    div(class="section-title") #{title}
      a(class="anchor-top", href="#top") top     

mixin snapshot(imageSrc, imageWidth="400", label="", hotspots=[])
  - var fullImageSrc = '/images/slide-indexer/' + imageSrc
  
  link(
    rel="stylesheet", 
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay",
    crossorigin="anonymous")
    
  div(class="snapshot")
    div(class="snapshot-label") #{label}
    div(class="snapshot-imagecontainer")
      img(src=fullImageSrc, width=imageWidth)
      each hotspot in hotspots
        if hotspot.debug
          i(class="hotspot debug-hotspot", title=hotspot.text, style=hotspot.location)
        else
          i(class="hotspot", title=hotspot.text, style=hotspot.location)

mixin hotspotIcon()
  i(class="fas fa-plus-circle hotspoticon")
  
mixin pageName(name)
  em
    strong #{name} 

mixin makeCode(codeText)
  span(class="help-code") #{codeText}
  
mixin handlerForLinkToHelpSection
  script
    |function linkToHelpSection(helpPage, helpSection) {
    |  var msg = helpPage + '|' + helpSection;    
    |  window.parent.postMessage(msg, '*');
    |}
    
    |window.addEventListener("message", function(e) {
    |    var msg = e.data; 
    |    var elemTarget = document.getElementById(msg);
    |    if (elemTarget) elemTarget.scrollIntoView();
    |  }, false);
    
mixin linkToHelpSection(helpPage, helpSection, linkText)
  - var funcCall = 'linkToHelpSection("' + helpPage + '", "' + helpSection + '")'
  a(class="link-to-helpsection" href="#" onclick=funcCall) #{linkText}

