include ../../common/pug/fontawesome-mixins.pug
include ../../common/pug/bootstrap-mixins.pug
include ../../common/pug/jquery-mixins.pug

//include ./mixins/mixins-admin.pug

doctype html
html(lang="en")
  head
    title AS slide indexer
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    
    +fontawesome()
    +bootstrapstyle()
    
    style
      include ../styles/slide-indexer.css
    
    +addJQuery()

    script(data-main="/scripts/slide-indexer/require_slide-indexer", src="/scripts/require.js")      \
    
  body(class="colorscheme")
    - var presentationId = params.presentationid
    - var slideNumber = params.slidenumber
    - var tabItemColor = params.tabcolor
    - var tabItemBackground = params.tabbackground
    
    div(class="presentationId hide-me")= presentationId
    div(class="initialSlideNumber hide-me")= slideNumber  
    div(class="tabItemColor hide-me")= tabItemColor
    div(class="tabItemBackground hide-me")= tabItemBackground
    
    .contents
      .error-container

      .presentation-container(class="container hide-me")
        .row(class="g-0")
          .col-10
            .navigation-container(class="hide-me")
              i(class="navicon toc fas fa-book" title="table of contents")
              i(class="navicon index fas fa-list-ul" title="index")
              
              .navigation-middle
                i(class="navicon open fas fa-external-link-alt" title="open in new tab")
                i(class="navicon link fas fa-link" title="get direct link to slide")
                span(class="message")
              
              .navigation-right
                i(class="navicon previous invisible-me fas fa-angle-left")
                i(class="navicon next invisible-me fas fa-angle-right")
                        
        .row(class="g-0")
          .col-10
            .toc-container(class="hide-me") toc
            .index-container(class="hide-me") index
            .slide-container(class="hide-me")
          
          .col
            .tab-container(class="hide-me")
