doctype html
html
  head
    title InstructorTips shared schedule wrapper
    meta(charset="utf-8")
      
  body  
    - var imageFileCID = 'cid:' + params.imageFileCID
    - var appURL = params.appURL    
    - var imagemapId = '#imagemap'
    
    img(src=imageFileCID, alt="InstructorTips shared schedule", usemap="imagemapId")
    map(name=imagemap)
      area(shape="rect", coords="270,25, 360,40", href=appURL)
      
    br
    
    div
      |You can access InstructorTips at &nbsp;
      a(href=appURL) !{appURL}


