- var strParams = JSON.stringify(params);
- var courseName = params.courseData.name
- var isAPCourse = params.courseData.ap

- var mvLogo = "https://res.cloudinary.com/ktsanter/image/upload/v1663545499/MVU/mv-logo.png"

- var keypointList = params.keypointList;
- var expectationsStudentList = params.expectationsStudent
- var expectationsInstructorList = params.expectationsInstructor
- var assessmentList = params.assessmentList;

- var resourceLinks = params.resourceLinks;
- var customerCare = resourceLinks["customer care"]
- var mentorPage = resourceLinks["mentor page"]
- var academicIntegrity = resourceLinks["academic integrity policy"]
- var gradingPolicy = resourceLinks["grading policy and expectations"]
- var apPolicy = null;
- if (isAPCourse) apPolicy = resourceLinks["ap policy"]

- var contactMentorSupport = params.contactList["mentorSupport"];
- var contactSpecialPopulations = params.contactList["specialPopulationsSupport"];

- var mvDeepTeal = "#115e6e";
- var highlightColor = "#FFFF00";
- var styleSectionTitle = "color: white; background-color: " + mvDeepTeal + "; padding: 0 0.3em;"
- var styleHighlight = "background-color: " + highlightColor;
- var styleSection = "margin-top: 1.3em;"
- var tblpad = "padding: 0 0.3em;"

include ../../../common/pug/fontawesome-mixins.pug
include ../../../common/pug/bootstrap-mixins.pug
include ../../../common/pug/jquery-mixins.pug

doctype html

html(lang="en")
  head
    title mentor welcome template
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    +fontawesome
    +bootstrapstyle
    
    // note: external CSS doesn't seem to work when copy/pasting results to Gmail
    //style
      //include ../../styles/mentor-welcome-template.css
    
    +addJQuery()
    
  body(class="colorscheme" style="margin-left: 0.6em")
    //-------------------------
    // banner
    //-------------------------
    .banner
      table(style="border: 1px solid #ccc")
        thead
        tbody
          tr
            td
              img(src=mvLogo)
              
            td(style="font-size: 120%; color: white; background-color: #115e6e; width: 100%; padding-left: 0.3em")
              |Welcome as a mentor to 
              em #{courseName}
      
    //-------------------------
    // instructor-info
    //-------------------------
    .instructor-info(style=styleSection) 
      table(style="border: 1px solid #ccc")
        thead
        tbody
          tr
            td(style=tblpad)
              span(style=styleHighlight) [instructor image]
              
            td(style=tblpad)
              table
                thead
                tbody
                  tr
                    td(colspan="2" style=tblpad) 
                      strong(style=styleHighlight) [instructor name]
                  tr
                    td(style=tblpad) phone
                    td(style=tblpad)
                      span(style=styleHighlight) [phone]
                  tr
                    td(style=tblpad) email
                    td(style=tblpad) 
                      span SLP or 
                      span(style=styleHighlight) [xxxxxx@michiganvirtual.org]
                  tr
                    td(style=tblpad) Zoom
                    td(style=tblpad)
                      span(style=styleHighlight) [link to schedule]
    
    //-------------------------
    // greeting
    //-------------------------
    .greeting(style=styleSection)
      |I’m eager to work with you as you support students in my
      | class.  Your role is crucial to their success, and I want
      | to aid you in any way possible.  There is a lot of
      | information available within the course and I encourage
      | you and your students to review it when you have the
      | chance.  Of particular interest are the 
      em Start Here 
      | and
      em Getting Help 
      | options, as well as the 
      em Instructor Info 
      | widget.
    
    //-------------------------
    // student-list-section
    //-------------------------
    .student-list-section(style=styleSection)
      |These students are currently enrolled in my section:
      br
      span(style=styleHighlight) [put student list here]

    //-------------------------
    // keypoints
    //-------------------------
    .keypoints(style=styleSection) 
      .section-title 
        span(style=styleSectionTitle) key points for mentors
        for val in keypointList
          div(style="margin-left: 0.3em") • &nbsp;
            |!{val}
    
    //-------------------------
    // expectations
    //-------------------------
    .expectations(style=styleSection)
      table
        thead
        tbody
          tr
            td 
              span(style=styleSectionTitle) what I expect of students
            td
              span(style=styleSectionTitle) what students can expect from me
          tr
            td(style="vertical-align: top")
              for val in expectationsStudentList
                div(style="margin-left: 0.3em") • &nbsp;
                  |!{val}
            td(style="vertical-align: top")
              for val in expectationsInstructorList
                div(style="margin-left: 0.3em") • &nbsp;
                  |!{val}
    
    //-------------------------
    // assessments-and-proctoring
    //-------------------------
    .assessments-and-proctoring(style=styleSection)
      .section-title 
        span(style=styleSectionTitle) tests, exams, and proctoring
        div
          |Proctoring of quizzes, tests, and exams is expected whenever feasible. 
          
          if assessmentList.length == 0
            | There are no password-protected exams in this course
            
          else
            | We ask that you do not share assessment passwords with students.  
            | Instead, please enter the password yourself.
            table(style="margin-left: 1.0em; border: 1px solid black")
              thead
                tr
                  th(style="border: 1px solid #666; padding: 0.2em; background-color: #ddd") assessment
                  th(style="border: 1px solid #666; padding: 0.2em; background-color: #ddd") password
              tbody
                each val in assessmentList
                  tr
                    td(style="border: 1px solid #666; padding: 0.2em")=val
                    td(style="border: 1px solid #666; padding: 0.2em")
                      span(style=styleHighlight) password
      
    //-------------------------
    // mentor-support
    //-------------------------
    .mentor-support(style=styleSection)
      .section-title 
        span(style=styleSectionTitle) mentor support
        div
          |Michigan Virtual offers many resources to help mentors.  
          | A visit to our Mentor Page is well worth your time – it’s full of handy resources.  
          | #{contactMentorSupport.first} #{contactMentorSupport.last} is our Mentor Support Manager,
          | and you can reach out any time at 
          | #{contactMentorSupport.phone} or 
          a(href="mailto:" + contactMentorSupport.email)=contactMentorSupport.email
    
    //-------------------------
    // special-populations
    //-------------------------
    .special-populations(style=styleSection)
      .section-title 
        span(style=styleSectionTitle) special populations
        div
          |I am committed to supporting the accommodations outlined in IEPs or 504 plans. 
          | Please contact me if you have questions about them. 
          | You can also reach out to #{contactSpecialPopulations.first} #{contactSpecialPopulations.last}, 
          | our Special Populations Coordinator, at 
          | #{contactSpecialPopulations.phone} or 
          a(href="mailto:" + contactSpecialPopulations.email)=contactSpecialPopulations.email
    
    //-------------------------
    // helpful-links
    //-------------------------
    .helpful-links(style=styleSection)
      .section-title 
        span(style=styleSectionTitle) helpful links

      a(href=customerCare.linkUrl, target="_blank")=customerCare.linkText
      br
      a(href=mentorPage.linkUrl, target="_blank")=mentorPage.linkText
      br
      a(href=academicIntegrity.linkUrl, target="_blank")=academicIntegrity.linkText
      br
      a(href=gradingPolicy.linkUrl, target="_blank")=gradingPolicy.linkText
      if isAPCourse
        br
        a(href=apPolicy.linkUrl, target="_blank")=apPolicy.linkText
      
    //-------------------------
    // closing
    //-------------------------
    .closing(style=styleSection) 
      |Please contact me whenever you have questions or concerns.
      | I look forward to working with you this term!
      br
      | Sincerely,
      br
    
    //-------------------------
    // signature
    //-------------------------
    .signature
      span(style=styleHighlight) [instructor name]

