doctype html
html
  head
    title Pug Test
    meta(charset="utf-8")
    style
      include test.css
      
  body  
    .salutation Hello #{name},
      
    .greeting 
      |This is your weekly reminder from 
      a(href='http://localhost:3000/tipsmanager.html') InstructorTips 
      |for the week beginning #{week}, 
      |reporting the tips you scheduled but haven't checked off yet.
      
    each scheduleData in scheduleList 
      .schedule
        .schedulename= scheduleData.scheduleName
        
        if scheduleData.upToDate
          .specialcase.uptodate 
            |Congratulations! You've checked off all the tips scheduled so far.
          
        else if scheduleData.pastDue
          .specialcase.pastdue 
            |The current date is later than the end date for your schedule so there are no reminders. 
            |You can use the Notification option in the app to stop sending reminders for this schedule.
        
        else
          .scheduletips
            each weekData in scheduleData.weekList
              .tipsforweek
                .tipsforweeklabel= weekData.weekName
                
                each tip in weekData.tipList
                  - var tipHTML = tip.tipText
                  if tip.even
                    .tipdetails.tipdetails-even !{tipHTML}
                  else
                    .tipdetails.tipdetails-odd !{tipHTML}
        


    

  