//-------------------------------------------------------------
//- binary/decimal conversion app
//-------------------------------------------------------------
doctype html
html(lang="en")
  head
    title Binary conversion
    meta(charset="utf-8")
    style
      include ../styles/colorscheme.css
      include ../styles/binary-conversion.css
      
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css", integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay", crossorigin="anonymous")      
      
    script(data-main="/scripts/binary-conversion/require_binary-conversion", src="/scripts/require.js")      
      
  body(class="colorscheme")
    - var mode = params.mode
    - var proMode = (mode == 'pro')
    
    div(class="binary-conversion")
      div(class="mode")= mode
  
      div(class="contents")
        div(class="title")
          div(class="title-text")
            if proMode
              |Binary/decimal conversion (pro)
            else
              |Binary/decimal conversion

        div(class="target")
          div(class="target-label")
            |Enter the decimal number you'd like to convert to binary 
            input(class="target-input", type="number", value="0" min="0", max="300", step="1", maxLength="4")

        div(class="switches")
          - var exponentList = [7, 6, 5, 4, 3, 2, 1, 0];
          - if (proMode) exponentList = [5, 4, 3, 2, 1, 0, -1, -2];
          
          div(class="switches-bin")
            each exponent in exponentList
              - var decValue = 2**exponent
              div(class="switch-value bin-switch", decvalue=decValue)
                div(class="switch-label") 2
                  span(class="super-me")= exponent

          div(class="switches-dec")
            each exponent in exponentList
              - var decValue = 2**exponent
              div(class="switch-value dec-switch", decvalue=decValue)
                div(class="switch-label")= decValue  

          div(class="switches-user")
            each exponent, index in exponentList
              - var decValue = 2**exponent
              - var pairIndex = index
              div(class="switch-container")
                div(class="switch", decvalue=decValue, pairindex=pairIndex)
                  div(class="switch-face switch-on") 1
                  div(class="switch-face switch-off") 0

          div(class="arrow-container")
            each exponent, index in exponentList
              - var indexClass = 'arrow' + index
              div(class="arrow invisible-me " + indexClass)
                i(class="arrow-icon fa fa-arrow-down")

          div(class="sum-container")
            each exponent, index in exponentList
              - var indexClass = 'sum' + index
              div(class="sum-value invisible-me " + indexClass)
                - var decValue = 2**exponent
                div(class="sum-label")= decValue

        div(class="instructions")
          div(class="instructions-text")
            |Click on the 0s and 1s to set the binary value.
            br
            |Hint: work from the left and keep an eye on the "remaining" amount.

        div(class="total")
          div(class="total-section total-label total-binary-label") binary
          div(class="total-section total-value total-binary") 00000000
          div(class="total-section total-label total-decimal-label") decimal
          div(class="total-section total-value total-decimal") 0
          div(class="total-section total-status")
          button(class="reset") reset