mixin deptmeeting(label, meeting, slides, recording, resourcelist)
  tr
    td= label
      if (meeting.label == "tbd")
        em &nbsp;(tbd)
      else if (meeting.label != "")
        a(href=meeting.url, target="_blank")= meeting.label
        
    td
      if (label == "Byte-sized PD")
        a(href=slides, target="_blank") full schedule
      else if (slides != "")
        a(href=slides, target="_blank") slides
        
    td
      if (recording != "")
        span
          a(href=recording.link, target="_blank") recording 
          |passcode: #{recording.passcode}
      
    td
      each resource in resourcelist
        a(href=resource.url, target="_blank")= resource.label
    
table(class="table table-hover table-condensed")
  thead
    tr
      th Date/time and meeting link
      th Link/slides
      th Recording
      th Other resources
  
  tbody
    +deptmeeting("Byte-sized PD", 
      {label: "", url: ""},
      "https://docs.google.com/document/d/1aP2OYF2txAXmgLBlm99vqUogzc6hfORDv5eY9ppHV4o/edit?usp=sharing",
      "",
      []
    )

    +deptmeeting("September", 
      {label: " (Thu Sep 10, 8:00pm)", url: "https://michiganvirtual.zoom.us/j/92518243303?pwd=VndrL1ExUlVIMVVkM014c3dNd1Erdz09"},
      "https://bit.ly/cte-2020-09",
      { 
        link:"https://michiganvirtual.zoom.us/rec/share/FGc7QDdiDJfPzrcqHyQb02j9ECeC2i3q0K7GedRYNGDYzKqqArLm3bnGAK0uwJLJ.vtDKRu4pCaNTJplr",
        passcode: " c#Vz5vmL"
      },
      []
    )

    +deptmeeting("November", 
      {label: " (Tue Nov 10, 7:00pm)", url: "https://michiganvirtual.zoom.us/j/93132022914?pwd=Q1BKT1R1aUV0bTgzb0w2aGdNV01DUT09"},
      "https://bit.ly/cte-nov-2020",
      {
        link: "https://michiganvirtual.zoom.us/rec/share/Mqc3J_UDiggpNm5WnFWiuR1tOla2ilYSJmr_GtH6GyR3VF8AI0Haimvh8VFELmnM.8VTgb2mHOGDfMqYw",
        passcode: "@C1y21y="
      },
      []
    )

    +deptmeeting("January", 
      {label: " (Thu Jan 7, 8:00pm)", url: "https://michiganvirtual.zoom.us/j/96677340593?pwd=bWNHZ0c3TXZ5bTJidlVwY2x0WmJ2UT09"},
      "https://bit.ly/cte-2021-01",
      {
        link:"https://michiganvirtual.zoom.us/rec/share/MmwoYebfeqz_tEGe0uCei_PTRVJ_l7gNOaNKj96sYX8fyZcJbnSqOWLRO5F0GA.wLYMRw5xqnIPOEKM",
        passcode: "ZWOxF.4#"
      },
      []
    )

    +deptmeeting("March", 
      {label: " (Tue Mar 9, 4:00pm)", url: "https://michiganvirtual.zoom.us/j/97841429434?pwd=dFFTSVBsOSt2Q3FuWjBjNk45KzFSZz09"},
      "https://bit.ly/cte-2021-03",
      {
        link: "https://michiganvirtual.zoom.us/rec/share/tv1qw-oUr2Bd5S6i9zSJNNwbrvwKgTFidJz0zITNSK9yakCOKdgp5rF7nVhfSmW7.l5xgd1Q8r3N0lUz1?startTime=1615323852000",
        passcode: "31a3Y$QL"
      },
      []
    )

    +deptmeeting("May", 
      {label: " (Thu May 6, 8:00pm)", url: "https://michiganvirtual.zoom.us/j/97983895550?pwd=cjNvYUN6dDh1SG5WcTFWRkZSQ21hZz09"},
      "http://bit.ly/CTE-deptmtg-2021-05",
      "",
      []
    )
