mixin deptmeeting(label, meeting, slides, recording, resourcelist)
  tr
    td= label
      if (meeting.label == "tbd")
        em &nbsp;(tbd)
      else if (meeting.label != "")
        a(href=meeting.url, target="_blank")= meeting.label
        
    td
      if (label == "Byte-sized PD"  && slides != "")
        a(href=slides, target="_blank") full schedule
      else if (slides != "")
        a(href=slides, target="_blank") slides
        
    td
      if (recording != "")
        span
          a(href=recording.link, target="_blank") recording 
          |passcode: #{recording.passcode}
      
    td
      each resource in resourcelist
        a(href=resource.url, target="_blank")= resource.label
        br
    
table(class="table table-hover table-condensed")
  thead
    tr
      th Date/time and meeting link
      th Link/slides
      th Recording
      th Other resources
  
  tbody
    +deptmeeting("Byte-sized PD", 
      {label: "", url: ""},
      "",
      "",
      [
        {label: "full schedule", url: "https://docs.google.com/document/d/1MamzNGtmWIy8SOi_vnoGjZhRKi1wKvD8ToSYZiv-PWQ/edit?usp=sharing"}
      ]
    )

    +deptmeeting("September", 
      {label: " (Thu Sep 8, 7:00pm)", url: "https://michiganvirtual.zoom.us/j/93693624237?pwd=ZnNzOE83TGkydHhwY2I1SytSTlNSQT09"},
      "https://bit.ly/cte-dept-2022-09",
      {link: "https://michiganvirtual.zoom.us/rec/share/k3-U-ENfErIL1P36ExbvSgFoNCq8zF0KZnF3KoUwA6X4vXftxU1nL7QjNl9_aS3O.4P2OoraFKouh7WSO", passcode: 'gqVpxL!0'},
      []
    )

    +deptmeeting("November", 
      {label: " (Tue Nov 8, 7:00pm)", url: "https://michiganvirtual.zoom.us/j/97882683924?pwd=QU1SYlM2VnRuMkE3TGhYZHkwTjI1UT09"},
      "https://bit.ly/cte-dept-2022-11",
      {link: "https://michiganvirtual.zoom.us/rec/share/iRMvUqCaVY5cDwhI5WODKkhjX-bAJDZaLIt0PX4t9puVojmYDfGmv82NI9xdWDeE.qq1esHHrck0tymqp", passcode: 'UZqY06*U'},
      []
    )

    +deptmeeting("January", 
      {label: " (Thu Jan 12, 4:00pm)", url: "https://michiganvirtual.zoom.us/j/99930218955?pwd=RzQreXYzcG1MQVY4eDNsS0VVS2NRZz09"},
      "https://bit.ly/cte-dept-2023-01",
      {link: "https://michiganvirtual.zoom.us/rec/share/jUwg4pNe1NeNtmZKc5uG7nX51FjwmH2xabWDlJwuuzeSHThpsvQoMLrcj_00bT-v.zn0ylmlZf9uegMS4", passcode: 'Yf8RX0$A'},
      []
    )

    +deptmeeting("March", 
      {label: " (Tue Mar 7, 7:00pm)", url: "https://michiganvirtual.zoom.us/j/91743025952?pwd=NW9xZk5rWjIxenEvSmJNOUV2NVJ3dz09"},
      "https://bit.ly/cte-dept-2023-03",
      "",
      []
    )

    +deptmeeting("May", 
      {label: " (Thu May 11, 4:00pm)", url: "https://michiganvirtual.zoom.us/j/96531046002?pwd=V2tmaXBjbnd1RVJJaE8vVEZuM2UwZz09"},
      "https://bit.ly/cte-dept-2023-05",
      "",
      []
    )
