mixin deptmeeting(label, meeting, slides, recording, resourcelist)
  tr
    td= label
      if (meeting.label == "tbd")
        em &nbsp;(tbd)
      else if (meeting.label != "")
        a(href=meeting.url, target="_blank")= meeting.label
        
    td
      if (label == "Byte-sized PD")
        a(href=slides, target="_blank") full schedule
      else if (slides != "")
        a(href=slides, target="_blank") slides
        
    td
      if (recording != "")
        span
          a(href=recording.link, target="_blank") recording 
          |passcode: #{recording.passcode}
      
    td
      each resource in resourcelist
        a(href=resource.url, target="_blank")= resource.label
    
table(class="table table-hover table-condensed")
  thead
    tr
      th Date/time and meeting link
      th Link/slides
      th Recording
      th Other resources
  
  tbody
    +deptmeeting("Byte-sized PD", 
      {label: "", url: ""},
      "https://docs.google.com/document/d/1RYnVDmHR-aUjdAb0Mdg8Ku0hbddO1atBQ-RUuZGr-iw/edit?usp=sharing",
      "",
      []
    )

    +deptmeeting("September", 
      {label: " (Tue Sep 14, 7:00pm)", url: "https://michiganvirtual.zoom.us/j/98095850885?pwd=UkVGMno3ZU5PRnJucFV3a2IyS0svUT09"},
      "https://bit.ly/CTE-dept-2021-09",
      "",
      []
    )

    +deptmeeting("November", 
      {label: " (Thu Nov 11, 4:30pm)", url: "https://michiganvirtual.zoom.us/j/97996643388?pwd=TEJrU1I3azFpa1NpVmhOZ2doM3VWUT09"},
      "https://bit.ly/CTE-dept-2021-11",
      "",
      []
    )

    +deptmeeting("January", 
      {label: " (Thu Jan 13, 7:00pm)", url: "https://michiganvirtual.zoom.us/j/99832394575?pwd=YmltaC9STC80K1g2Uk41UGFtWms0dz09"},
      "https://bit.ly/CTE-dept-2022-01",
      "",
      []
    )

    +deptmeeting("March", 
      {label: " (Tue Mar 15, 4:30pm)", url: "https://michiganvirtual.zoom.us/j/93676717518?pwd=TkRTRzRBOUpYM1pTdXRKczRGSzE0UT09"},
      "https://bit.ly/CTE-dept-2022-03",
      "",
      []
    )

    +deptmeeting("May", 
      {label: " (Wed May 4, 7:00pm)", url: "https://michiganvirtual.zoom.us/j/99043287616?pwd=ckcyZ0hOTGdaTHNWZU94aWg5ckZnUT09"},
      "https://bit.ly/CTE-dept-2022-05",
      "",
      []
    )
